# general modules
django
python-decouple
djangorestframework

# third party modules
markdown       
django-filter  
drf-yasg[validation]
djangorestframework-simplejwt
django-simple-captcha
django-cors-headers
requests

# depolyment modules
gunicorn

# email third party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
Faker

# background process and cache
celery
redis
django-redis

# database
psycopg2-binary